<div>
                         <div class="media">
                          <a class="pull-left" href="#"><br><br>
                            <%#<img class="media-object img-circle" data-src="holder.js/64x64" src="img/headshot_cordis.jpg"> %>
                            <h6><%= first_initial_last_name(User.find(comment.user_id).name) %></h6>
                          </a>
                          <div class="media-body"><br><br>
                            <h4 class="media-heading timestamp"><%= format_created_at_with_slash(comment.created_at)%> at <%= format_time_created_at(comment.created_at.localtime)%> </h4>
                            <%= comment.content %><%= link_to "Reply" %><br>
						</div>
						