<div id="files">
     <div class="section-header">
       <h4>Files</h4>
     </div>
     <table class="table table-hover">
       <thead>
         <tr>
           <th>File Name</th>
           <th>Date</th>
           <th>Uploaded By...</th>
           <th>Link</th>
         </tr>
       </thead>
	   <tbody>
           
		   
		   
		   <% @project.uploads.reverse.take(5).each do |upload| %>
		   <tr class="<%= cycle("success", "") -%>">
           <td><%= upload.name %></td>
           <td><%= short_month_dates_and_recent(upload.created_at)%></td>
           <td><%= first_initial_last_name(User.find(upload.user_id).name) %></td>
           <td><%= link_to "Download", upload.attachment_url%></td>
		   <% end %>
	   </tr>
       </tbody>
       </table>
	   <tr> 
		  <% if @project.uploads.count > 5 %>
	      <%= link_to "View all #{@project.uploads.count} files", project_uploads_path(@project.id) %>
	      <% end %>
	   </tr>
	   <br/>
       <br/>
	  
	   