<div id="files">
     <div class="section-header">
       <h4>Files</h4>
     </div>
     <table class="table table-hover">
       <thead>
         <tr>
           <th>File Name</th>
           <th>Date</th>
           <th>Uploaded By...</th>
           <th>Link</th>
         </tr>
       </thead>
       <tbody>
         <tr class="success">
           <td><%= upload.name %></td>
           <td><%= short_month_dates(upload.created_at)%></td>
           <td><%= first_initial_last_name(User.find(upload.user_id).name) %></td>
           <td><%= link_to "Download"%></td>
         </tr>
         <tr class="">
           <td>Rails Partial Files</td>
           <td>Aug 15, 2013</td>
           <td>K. Coakley</td>
           <td><a href="#">Download</a></td>
         </tr>
         <tr class="success">
           <td>Draft Logo Design Files</td>
           <td>Aug 15, 2013</td>
           <td>K. Coakley</td>
           <td><a href="#">Download</a></td>
         </tr>
         <tr class="">
           <td>Draft payment forms</td>
           <td>Aug 15, 2013</td>
           <td>K. Coakley</td>
           <td><a href="#">Download</a></td>
         </tr>
       </tbody>
     </table>

     <br/>
    
     <%= render partial: 'uploads/form' %>
 </div>