


    
            <div class="col-lg-8 main_content">
              <div class="col-lg-11 show">
                          <div class="section-header">
                            <h3>cPro</h3>
							 <h1><%= @project.project_name%></h1>
                            <p class="lead"><%= @project.project_description%></p>
                          </div>
                          <div class="section-header">
                            <h4>Stats</h4>
                          </div>
                          <div class="row">
                          <div class="project_info">
                                  <div class="col-lg-3">
                                      <h6>Category</h6>
                                      <h1><%= "#{abbreviate(@project.project_category)}"%></h1>
                                  </div>
                                  <div class="col-lg-3">
                                      <h6>Status</h6>
                                      <h1 class="success">Active</h1>
                                  </div>
                                  <div class="col-lg-3">
                                      <h6>Budget</h6>
                                      <h1><%= stylish_numbers(@project.project_budget)%></h1>
                                  </div>
                                  <div class="col-lg-3">
                                      <h6>Open date</h6>
                                      <h1><%= format_created_at(@project.created_at)%></h1>
                                  </div>
                            </div>
                          </div>

                          <div class="section-header">
                            <h4>Client</h4>
                          </div>
                          <div class="details">
                              <div class="row">
                                    <div class="col-lg-3  user_headshot">
                                        <img class="img-circle" src="img/cordis_headshot_lg.jpg" alt="" />
                                    </div>
                                    <div class="client_contact_info col-lg-9">
                                          <div class="row">
                                                <div class="pull-left">
                                                    <h3><%= @project.users[0].name %></h3>
                                                    <h4><%= @project.users[0].title %></h4>
                                                </div>
                                                <div class="pull-right company">
                                                    <h6>Company</h6>
                                                    <h4><%= @project.users[0].company %></h4>
                                                </div>
                                          </div>
                                          <div class="row contact_details">
                                              <div class="pull-left">
                                                  <h6>Location</h6>
                                                  <h5><%= @project.users[0].state %></h5>
                                              </div>
                                              <div class="pull-left">
                                                  <h6>Phone</h6>
                                                  <h5><%= @project.users[0].cell_phone %></h5>
                                              </div>
                                              <div class="pull-left">
                                                  <h6>E-mail</h6>
                                                  <h5><%= @project.users[0].email %></h5>
                                              </div>
                                              <div class="pull-left">
                                                  <h6>Website</h6>
                                                  <h5><%= @project.users[0].website %></h5>
                                              </div>
                                          </div>
                                    </div>
                              </div>

                          <div class="section-header">
                            <h4>Notes</h4>
                          </div>
                          <div class="notes special_request">
                              <h5>Special Request</h5>
                              <div class="well well-lg"><%= @project.project_special_requests %></div>
                          </div>
                          <div class="notes budget_notes">
                              <h5>Project Budget</h5>
                              <div class="well well-lg"><%= @project.project_budget_explanation %></div>
                          </div>
                          <div class="section-header">
                            <h4>Files</h4>
                          </div>

                          <div class="section-header">
                            <h4>Team</h4>
                          </div>

                          <div id="comments">
                                <div class="section-header">
                                <h4>Comments (<%= @project.comments.size %>)</h4>
                                </div>
                              
  							  <%= render 'comments/form' %>
  							  <%= render partial: 'projects/comment', collection: @project.comments %> 