<% if user_signed_in? %>

<div class="container">
  <div class="row">
        <div class="col-lg-2">
            <div class="sidebar affix">
                  <aside>
                    <h4>wfg</h4>
                    <h4>WF Collective</h4>
                      <ul class="nav">
                        <li><a href="wildfyre-companies.html">Companies</a></li>
                        <li><a href="wildfyre-projects.html">Projects</a></li>
                        <li><a href="wildfyre-partners.html">Parnters</a></li>
                        <li><a href="wildfyre-network.html">Network</a></li>
                        <li><a href="wildfyre-ethos.html">Ethos</a></li>
                      </ul>
                  </aside>
                   <aside>
                    <h5>Profile</h5>
                    <ul class="nav">
                      <li><a href="#">My Profile</a></li>
                      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                    </ul>
                    <br/>
                    <h5>Projects.</h5>
                    <ul class="nav">
					  <li><%= link_to "Create Project", new_project_path %></li>
                      <li><%= link_to "View Projects", projects_path %></a></li>
                      
                    </ul>
                    <br/>
                    <h5>Contacts.</h5>
                      <ul class="nav">
						  <li><%= link_to "Create Contact", new_contact_path %></li>
                        <li><%= link_to "View Contacts", contacts_path %></a></li>
                      </ul>
                    <br/>
                    <ul class="nav">
                      <li><a href="#">Logout</a></li>
                    </ul>
              </aside>
            </div>
        </div>
		<% else %>

<div class="container">
  <div class="row">
        <div class="col-lg-2">
            <div class="sidebar affix">
                  <aside>
                    <h4>wfg</h4>
                    <h4>WF Collective</h4>
                      <ul class="nav">
                        <li><a href="wildfyre-companies.html">Companies</a></li>
                        <li><a href="wildfyre-projects.html">Projects</a></li>
                        <li><a href="wildfyre-partners.html">Parnters</a></li>
                        <li><a href="wildfyre-network.html">Network</a></li>
                        <li><a href="wildfyre-ethos.html">Ethos</a></li>
                      </ul>
                  </aside>
                  <aside>
                    <h5>Join.</h5>
                    <ul class="nav">
                      <li><a href="sign_up.html">Get Invited</a></li>
                    </ul>
                    <br/>
                    <h5>Create.</h5>
                    <ul class="nav">
                      <li><a href="create_project.html">Start a Project</a></li>
                    </ul>
                    <br/>
                    <h5>Connect.</h5>
                    <ul class="nav">
                      <li><a href="contact.html">Get in Touch</a></li>
                    </ul>
              </aside>
            </div>
        </div>
		
		<% end %>