<div class="container">
  <div class="row">
        <div class="col-lg-2">
            <div class="sidebar affix">
                  <aside>
					  
					  
		                    <%= render partial: 'layouts/root_links' if request.path == root_path %>
							<%= render partial: 'layouts/root_links' if request.path == ethos_path %>
	                        
							
							
							<%= render partial: 'layouts/company_links' if request.path == companies_path %>
							<%= render partial: 'layouts/company_links' if request.path == start_up_path %>
							<%= render partial: 'layouts/company_links' if request.path == ventures_path %>
							<%= render partial: 'layouts/company_links' if request.path == advisory_path %>
							<%= render partial: 'layouts/company_links' if request.path == real_estate_path %>
						
                            <%= render partial: 'layouts/partners' if request.path == partners_path%>
							<%= render partial: 'layouts/partners' if request.path == cordis_stanfield_path%>
							<%= render partial: 'layouts/partners' if request.path == khadijah_coakley_path%>
							<%= render partial: 'layouts/projects_links' if request.path == projects_path %>
							<%= render partial: 'layouts/projects_links' if request.path == launched_path %>
							<%= render partial: 'layouts/projects_links' if request.path == in_development_path %>
							<%= render partial: 'layouts/projects_links' if request.path == re_releases_path %>
							<%= render partial: 'layouts/projects_links' if request.path == big_ideas_path %>
							<%= render partial: 'layouts/projects_links' if request.path == domains_path %>
							
							<%= render partial: 'layouts/network_links' if request.path == network_path %>
							
	                       
	  					
	                         
		  			
					  
					  
                  </aside>
                   <%#<aside>%>

<% if user_signed_in? %>


                    <h5>Profile</h5>
                    <ul class="nav">
                      <li><a href="#">My Profile</a></li>
                      <li><%= link_to "Edit Profile", edit_user_registration_path %></li> <!-- Edit Profile -->
                    </ul>
                    <br/>
                    <h5>Projects.</h5>
                    <ul class="nav">
					  <li><%= link_to "Create Project", new_project_path %></li>
                      <li><%= link_to "View Projects", projects_path %></a></li>
                      
                    </ul>
                    <br/>
                    <h5>Contacts.</h5>
                      <ul class="nav">
						  <li><%= link_to "Create Contact", new_contact_path %></li>
                        <li><%= link_to "View Contacts", contacts_path %></a></li>
                      </ul>
                    <br/>
                    <ul class="nav">
                      <li><a href="#"><%= link_to "Logout", destroy_user_session_path %></a></li>
                    </ul>
              </aside>
            </div>
        </div>
		<% else %>


                    <h5></h5><!-- Join. -->
                    <ul class="nav">
                      <li><%#= link_to "Get Invited", new_user_registration_path %></li><!-- Get Invited -->
                    </ul>
                    <br/>
                    <h5></h5><!-- Create. -->
                    <ul class="nav">
                      <li><%#= link_to "Start a Project ##", new_project_path %></li><!-- Start a Project -->
                    </ul>
                    <br/>
                    <h5></h5><!-- Connect. -->
                    <ul class="nav">
                      <li><%#= link_to "Get in Touch ##", new_project_path %></li><!-- Get in Touch -->
                    </ul>
              </aside>
            </div>
        </div> 
		
		<% end %>