<div class="container">
  <div class="row">
        <div class="col-lg-2">
            <div class="sidebar affix">
                  <aside>
					  <% if request.path == companies_path #|| start_up_path || ventures_path || advisory_path || real_estate_path) %>
                      <h4>wfCo</h4>
                      <h4>Companies</h4>
                        <ul class="nav">
                          <li><%= link_to "Start-up Machine", start_up_path %></li>
                          <li><%= link_to "Ventures", ventures_path %></li>
                          <li><%= link_to "Advisory", advisory_path %></li>
                          <li><%= link_to "Real Estate", real_estate_path %></li>
                        </ul>
						<% elsif request.path == projects_path %>
                        <h4>wfcPro</h4>
                        <h4>Projects</h4>
                          <ul class="nav">
                            <li><a href=#>Launched</a></li>
                            <li><a href=#>In Development</a></li>
                            <li><a href=#>Re-releases</a></li>
                            <li><a href=#>Big Ideas</a></li>
                            <li><a href=#>Domain</a></li>
							
                          </ul>
						<% elsif request.path == partners_path %>
                        <h4>wfPtns</h4>
                        <h4>Partners</h4>
                          <ul class="nav">
                            <li><a href=#>Cordis S.</a></li>
                            <li><a href=#>Khadijah C.</a></li>
                          </ul>
  						<% elsif request.path == network_path %>
                          <h4>wfNtwk</h4>
                          <h4>Network</h4>
                            <ul class="nav">
                              <li><a href=#>Service Providers</a></li>
                              <li><a href=#>Get Invited</a></li>
                            </ul>
	  					<% elsif request.path == network_path %>
	                       <h4>wfNtwk</h4>
	                       <h4>Ethos</h4>
	                         <ul class="nav">
	                           <li><a href=#>Service Providers</a></li>
	                           <li><a href=#>Get Invited</a></li>
	                         </ul>    
						<% else %>
                    <h4>wfg</h4>
                    <h4>WF Collective</h4>
                      <ul class="nav">
                        <li><%= link_to "Companies", companies_path %></li>
                        <li><%= link_to "Projects", projects_path %></li>
                        <li><%= link_to "Partners", partners_path %></li>
                        <li><%= link_to "Network", network_path %></li>
                        <li><%= link_to "Ethos", ethos_path %></li>
                      </ul>
					  <% end %>
					  
					  
                  </aside>
                   <aside>

<% if user_signed_in? %>


                    <h5>Profile</h5>
                    <ul class="nav">
                      <li><a href="#">My Profile</a></li>
                      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                    </ul>
                    <br/>
                    <h5>Projects.</h5>
                    <ul class="nav">
					  <li><%= link_to "Create Project", new_project_path %></li>
                      <li><%= link_to "View Projects", projects_path %></a></li>
                      
                    </ul>
                    <br/>
                    <h5>Contacts.</h5>
                      <ul class="nav">
						  <li><%= link_to "Create Contact", new_contact_path %></li>
                        <li><%= link_to "View Contacts", contacts_path %></a></li>
                      </ul>
                    <br/>
                    <ul class="nav">
                      <li><a href="#"><%= link_to "Logout", destroy_user_session_path %></a></li>
                    </ul>
              </aside>
            </div>
        </div>
		<% else %>


                    <h5>Join.</h5>
                    <ul class="nav">
                      <li><%= link_to "Get Invited", new_user_registration_path %></li>
                    </ul>
                    <br/>
                    <h5>Create.</h5>
                    <ul class="nav">
                      <li><%= link_to "Start a Project ##", new_project_path %></li>
                    </ul>
                    <br/>
                    <h5>Connect.</h5>
                    <ul class="nav">
                      <li><a href="contact.html">Get in Touch ##</a></li>
                    </ul>
              </aside>
            </div>
        </div>
		
		<% end %>