<h4>wfcPro</h4>
<h4>Projects</h4>
  <ul class="nav">
    <li><%= link_to "Launched", launched_path %></li>
	<li><%= link_to "In Development", in_development_path %></li>
	<li><%= link_to "Re-releases", re_releases_path %></li>
	<li><%= link_to "Big Ideas", big_ideas_path %></li>
	<li><%= link_to "Domains", domains_path %></li>
  </ul>
