<h4>wfg</h4>
<h4>WF Collective</h4>
  <ul class="nav">
    <li><%= link_to "Companies", companies_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "Partners", partners_path %></li>
    <li><%= link_to "Network", network_path %></li>
    <li><%= link_to "Ethos", ethos_path %></li>
  </ul>